.container {
  background-color: #112350;
  /* width: 780px;
  height: 954px; */
  width: 590px;
  height: 771px;
  border-radius: 50px;
  margin-left: 260px;
  margin-top: 63px;
  display: flex;
  justify-content: center;
}

/* .headerTxt{
    display: flex;
    justify-content: center;
}

.txtNormal{
    margin: 0px 38px;
    font-family: 'Inter', sans-serif;
    font-size: 28px;
    font-weight: 500;
    color: #A5A5A5;
    margin-top: 32px;
    cursor: pointer;
}

.txtMasukStyled{
    margin: 0px 34px;
    font-family: 'Inter', sans-serif;
    font-size: 34px;
    font-weight: 700;
    color: #fff;
    margin-top: 25px;
    transition: 0.5s;
    padding-bottom: 10px;
    border-bottom: 2px solid #1BDDBB;  
    cursor:pointer;
}

.txtDaftarStyled{
    margin: 0px 34px;
    font-family: 'Inter', sans-serif;
    font-size: 34px;
    font-weight: 700;
    color: #fff;
    margin-top: 25px;
    transition: 0.5s;
    padding-bottom: 10px;
    border-bottom: 2px solid #1BDDBB; 
    cursor:pointer;
}

.txtSandiStyled{
    margin: 0px 34px;
    font-family: 'Inter', sans-serif;
    font-size: 34px;
    font-weight: 700;
    color: #fff;
    margin-top: 25px;
    transition: 0.5s;
    padding-bottom: 10px;
    border-bottom: 2px solid #1BDDBB; 
    cursor:pointer;
} */
