.headerTxt {
  display: flex;
  justify-content: center;
}

.txtNormal {
  color: rgba(165, 165, 165, 0.81);
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 28px;
  margin: 0px 34px;
  margin-top: 32px;
  margin-bottom: 78px;
}

.txtStyled {
  font-family: "Inter", sans-serif;
  font-size: 34px;
  font-weight: 700;
  color: white;
  margin: 0px 28px;
  margin-top: 25px;
  border-bottom: 2px solid #1bddbb;
  height: 50px;
  width: 125px;
  text-align: center;
}

.content {
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropdownJabatan {
  position: absolute;
  margin-top: -43px;
  margin-left: 175px;
  z-index: 997;
  width: 30px;
  height: 30px;
  opacity: 1;
}

.dropdownList {
  width: 223px;
  height: 200px;
  background: #112350;
  border-radius: 20px;
  margin-top: 10px;
  margin-left: -175px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  border: 1px solid #27335d;
  overflow: overlay;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s linear, visibility 0.9s linear;
}

.dropdownList::-webkit-scrollbar {
  width: 5px;
}

.dropdownList::-webkit-scrollbar-track {
  background: #152351;
}

.dropdownList::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #d9d9d9;
}

.dropdownJabatan:hover .dropdownList {
  opacity: 1;
  visibility: visible;
}

.selectJabatan {
  opacity: 1;
}

.dropdownList_item {
  padding-top: 10px;
  padding-left: 8px;
  padding-right: 8px;
}

.dropdownList_item p {
  margin: 0;
  border-radius: 10px;
  /* padding: 10px; */
  padding-left: 15px;
  padding-top: 5px;
  /* margin-right: 25px; */
}

.dropdownList_item p:hover {
  background-color: #fff;
  cursor: pointer;
  color: #112350;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

/* DROPDOWN BIDANG */
.dropdownBidang {
  position: absolute;
  margin-top: -43px;
  margin-left: 175px;
  z-index: 997;
  width: 30px;
  height: 30px;
  opacity: 1;
}

.wrapperSelectBidang {
  /* position: absolute; */
  /* height: 40px; */
  /* width: 484px; */
  opacity: 0;
  z-index: 999;
  visibility: hidden;
  transition: opacity 0.2s linear, visibility 0.2s linear;
  /* margin-left: -590px; */
}

.dropdownListBidang {
  width: 223px;
  height: 185px;
  background: #112350;
  border-radius: 20px;
  margin-top: 10px;
  margin-left: -175px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  border: 1px solid #27335d;
  overflow: overlay;
}

.dropdownListBidang::-webkit-scrollbar {
  /* display: none; */
}

.dropdownListBidang::-webkit-scrollbar {
  width: 5px;
}

.dropdownListBidang::-webkit-scrollbar-track {
  background: #152351;
}

.dropdownListBidang::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #d9d9d9;
}

.dropdownBidang:hover .wrapperSelectBidang {
  opacity: 1;
  visibility: visible;
}

.selectBidang {
  opacity: 1;
}

.dropdownListBidang_item {
  padding-top: 10px;
  padding-left: 8px;
  padding-right: 8px;
}

.dropdownListBidang_item p {
  margin: 0;
  border-radius: 10px;
  /* padding: 10px; */
  padding-left: 15px;
  padding-top: 5px;
  /* margin-right: 25px; */
}

.dropdownListBidang_item p:hover {
  background-color: #fff;
  cursor: pointer;
  color: #112350;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.dropdownSubBidang {
  padding-left: 20px;
}

.dropdownListBidang_item:focus .dropdownSubBidang{
  background-color: red;
}
