.container {
  background-color: #112350;
  position: fixed;
  left: 0;
  width: 140px;
  height: 100%;
  border-radius: 0px 40px 40px 0px; 
}

.contentAtas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contentBawah {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-top: 100px; */
}

.image {
  height: 188px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.kotak {
  width: 63px;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  border-radius: 10px;
  background-color: #112350;
  border: none;
  cursor: pointer;
}

.kotak:focus {
  width: 63px;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  border-radius: 10px;
  background-color: #1bddbb;
}

.kotakLogOut {
  width: 63px;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  border-radius: 10px;
  background-color: #112350;
  border: none;
  cursor: pointer;
}

.kotakLogOut:focus {
  width: 63px;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  border-radius: 10px;
  background-color: #112350;
}

.hoverKeterangan {
  position: absolute;
  height: 50px;
  width: 175px;
  left: 140px;
  background: rgba(27, 221, 187, 1);
  z-index: 21000;
  border-radius: 10px;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translateY(40%);
  pointer-events: none;
}

.hoverKeteranganKegiatan {
  width: 265px;
}

.kotak:hover .hoverKeterangan {
  opacity: 1;
  transition: 0.5s;
  left: 160px;
}

.kotak:hover {
  background-color: #1bddbb;
  width: 63px;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transition: 0.5s;
  margin-left: 20px;
}

.kotakLogOut:hover .hoverKeterangan {
  opacity: 1;
  transition: 0.5s;
  left: 160px;
}

.kotakLogOut:hover {
  background-color: #1bddbb;
  width: 63px;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transition: 0.5s;
  margin-left: 20px;
}

.kotakAktif {
  width: 63px;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  border-radius: 10px;
  background-color: #1bddbb;
  border: none;
}

.kotakAktifLogOut {
  width: 63px;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  border-radius: 10px;
  background-color: #112350;
  border: none;
}

.headerTxtModal {
  color: rgba(17, 35, 80, 1);
  font-family: "Poppins", sans-serif;
  font-size: 26px;
  font-weight: 700;
  margin: 0;
  margin-top: 10px;
  text-align: center;
}

.dialog {
  color: rgba(17, 35, 80, 1);
  font-family: "Poppins", sans-serif;
  font-size: 26px;
  font-weight: 400;
  margin: 0;
  margin-top: 20px;
  text-align: center;
}



.wrapperBtnModal {
  display: inline-flex;
  bottom: 1;
  position: absolute;
  bottom: 0;
}

.modal::-webkit-scrollbar {
  display: none;
}

.btnYa {
  width: 245.5px;
  height: 62px;
  border: none;
  margin: 0;
  border-bottom-left-radius: 20px;
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 26px;
  font-weight: 700;
  color: rgba(255, 1, 100, 1);
  border-top: 1px solid rgba(17, 35, 80, 0.5);
  border-right: 1px solid rgba(17, 35, 80, 0.5);
  cursor: pointer
}

.btnTidak {
  width: 245.5px;
  height: 62px;
  border: none;
  margin: 0;
  border-bottom-right-radius: 20px;
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 26px;
  font-weight: 700;
  border-top: 1px solid rgba(17, 35, 80, 0.5);
  border-left: 1px solid rgba(17, 35, 80, 0.5);
  cursor: pointer
}

.btnYa p {
  margin: 0;
}

.btnTidak p {
  margin: 0;
}
