.container {
  background-color: #112350;
  width: 140px;
  height: 100vh;
  border-radius: 0px 40px 40px 0px;
  position: inherit;
  display: grid;
  align-content: space-around; 
}

.image {
  justify-content: center;
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 352px;
}

.wrapperNavBawah {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 230px;
}
/* .content div {
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
} */

/* 
.container{
    background-color: #112350;
    border-radius: 0px 40px 40px 0px;
    position: inherit;
    display: flex;
    flex-direction: column;
    width: 140px;
}

.image{
    padding: 50px 25px;
}

.content div{
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
}


*/
