.container {
  background-color: #112350;
  position: fixed;
  left: 0;
  width: 140px;
  height: 100%;
  border-radius: 0px 40px 40px 0px;
}

.contentAtas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contentBawah{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.image {
  height: 188px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.kotak{
  width: 65px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  border-radius: 10px;
  background-color: #112350;
  border: none;
}

.kotak:focus {
  width: 65px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  border-radius: 10px;
  background-color: #1BDDBB;
}

.hoverKeterangan {
  position: absolute;
  height: 50px;
  width: 175px;
  left: 140px;
  background-color: #1bddbb;
  border-radius: 10px;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translateY(40%);
  pointer-events: none;
}

.hoverKeteranganKegiatan{
  width: 265px;
}

.kotak:hover .hoverKeterangan {
  opacity: 1;
  transition: 0.5s;
  left: 160px;
}

.kotak:hover{
  background-color: #1BDDBB;
  width: 65px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transition: 0.5s;
  margin-left: 20px;
}

.kotakAktif{
  width: 65px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  border-radius: 10px;
  background-color: #1BDDBB;
  border: none;
}
