.iconText p{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: white;
    margin: 0px;
}

.iconText{
    display: flex;
    margin-bottom: 20px;
    height: 35px;
    align-items: center;
}

.container input{
    width: 223px;
    height: 53px;
    background: rgba(194, 194, 194, 0.1);
    border-radius: 90px;
    border: 1px solid #293961;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
}

.bidang input{
  padding-right: 60px;
}

.container input::placeholder{
    color: rgba(165, 165, 165, 0.81);
}

.container input:hover{
    border: 1px solid #FFFFFF;
    transition: 0.5s;
  }
  
  .container input:focus{
    outline: none;
    border: 1px solid #1BDDBB;
  }

.container input[type=number]::-webkit-inner-spin-button, 
.container input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
