.container{
    display: flex;
    flex-direction: column;
}

.headerTxt{
    display: flex;
    justify-content: center;
}

.headerTxt p{
    margin: 0px 38px;
    font-family: 'Inter', sans-serif;
    font-size: 28px;
    font-weight: 500;
    color: #A5A5A5;
    margin-top: 32px;
    cursor: pointer;
}