.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-left: 40px;
}

.wrapperTitle {
  border-bottom: 2.5px solid #1bddbb;
  text-align: center; 
  align-items: center;
  display: flex;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 34px;
  left: 180px;
}

.wrapperTitle p{
  margin: 0;
}

.titleBidang {
  font-family: "Poppins", sans-serif;
  font-size: 26px;
  font-weight: 700;
  color: #000;
  margin: 0;
  margin-top: 154px;
}

.wrapFilter{
  display: flex;
  position: absolute;
  top: 85px;
  right: 48px;
}

.wrapLihatSemua{
  display: flex;
  position: absolute;
  top: 85px;
  left: 1468px;
}


.rekanPegawai{
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: rgba(104, 104, 104, 1);
  margin: 0;
}

.rekanAsn{
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: rgba(104, 104, 104, 1);
  margin: 0;
}


.styleTupoksi{
  padding: 5px;
  background-color: rgba(25, 182, 203);
  border-radius: 4px;
  width: 171px;
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  align-items: center
}
.styleTupoksiTambahan{
  padding: 5px;
  background-color: rgba(27, 221, 187, 1);
  border-radius: 4px;
  width: 171px;
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.styleTxtRow{
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: black;
}




/* ? style from daftarkegiatan */
.wrap {
  display: block;
  margin-left: 140px;
  /* padding-right: 20px;
  padding-left: 20px; */
}

/* .container {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
} */

.wrapperDataPegawai {
  display: flex;
  margin-top: 57px;
}

.wrapperDataPegawai p {
  margin: 0;
}

.wrapperTxt {
  margin-left: 26px;
}

.txtNama {
  font-family: "Poppins", sans-serif;
  font-size: 26px;
  font-weight: 700;
  color: #000;
}

.txtJabatan {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #686868;
  margin-top: 10px;
}

.txtPegawai {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #686868;
}

.wrapperFilter {
  position: absolute;
  top: 160px;
  right: 215px;
  /* overflow: auto; */
}

.btnFilter {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #112350;
  border-radius: 5px;
  width: 172px;
  height: 51px;
  /* margin-bottom: 80px; */
  /* margin-top: 20px; */
  cursor: pointer;
  user-select: none;
  position: absolute;
  background-color: #fff;
  top: 0;
  left: 0;
}

.btnFilter p {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: #112350;
  margin-left: 11px;
}

.wrapperSelectStatus {
  padding-top: 7px;
  padding-bottom: 6px;
  width: 172px;
  height: 280px;
  border: 1px solid #112350;
  border-radius: 5px;
  display: grid;
  user-select: none;
  position: absolute;
  background-color: #fff;
  top: 55px;
  overflow: auto;
}

.wrapperSelectStatus::-webkit-scrollbar {
    display: none;
}

.wrapperSelectStatus p {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 500;
  color: #112350;
  margin: 0;
  margin-left: 9px;
  width: 150px;
  height: 37px;
  padding-top: 5px;
  padding-left: 12px;
}

.wrapperSelectStatus p:hover {
  background-color: #112350;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
}

.styleTupoksi{
  padding: 5px;
  background-color: rgba(25, 182, 203);
  border-radius: 4px;
  width: 171px;
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
}
.styleTupoksiTambahan{
  padding: 5px;
  background-color: rgba(27, 221, 187, 1);
  border-radius: 4px;
  width: 171px;
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.rekanNama{
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}

.rekanPegawai{
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: rgba(104, 104, 104, 1);
  margin: 0;
}

.styleTxtRow{
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: black;
}

.styleTxtRowRencana{
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: rgba(27, 221, 187, 1);
}

/* ! STYLE != SELESAI */
.styleTupoksiBS{
  padding: 5px;
  background-color: rgb(233, 124, 0);
  border-radius: 4px;
  width: 171px;
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}

.styleTupoksiTambahanBS{
  padding: 5px;
  background-color: rgb(233, 124, 0);
  border-radius: 4px;
  width: 171px;
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}


.styleTxtRowBS{
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  /* color: rgba(233, 0, 95, 1); */
  color: rgb(233, 124, 0);
}

.styleTxtRowRencanaBS{
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  /* color: rgba(233, 0, 95, 1); */
 color: rgb(233, 113, 0);
}


/* ! STYLE BELUM DITOLAK */
.styleTupoksiDitolak{
  padding: 5px;
  background-color: rgba(233, 0, 95, 1);
  border-radius: 4px;
  width: 171px;
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}

.styleTupoksiTambahanDitolak{
  padding: 5px;
  background-color: rgba(233, 0, 95, 1);
  border-radius: 4px;
  width: 171px;
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}


.styleTxtRowDitolak{
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: rgba(233, 0, 95, 1);
}

.styleTxtRowRencanaDitolak{
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  /* color: rgba(233, 0, 95, 1); */
 color: rgba(233, 0, 95, 1);
}

