.container {
  background-color: #112350;
  width: 590px;
  height: 771px;
  border-radius: 50px;
  margin-left: 260px;
  margin-top: 63px;
}

.headerTxt {
  display: flex;
  justify-content: center;
}

.headerTxt p {
  margin: 0px 34px;
  font-family: "Inter", sans-serif;
  font-size: 28px;
  font-weight: 500;
  color: #a5a5a5;
  margin-top: 33px;
}
