.container{
    background-color: #1BDDBB;
    width: 705px;
    height: 70px;
    border-radius: 90px;
    border: none;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 36px;
}

.btnDaftar{
    background: rgba(165, 165, 165, 0.43);
    color: #A5A5A5;
}