.tableRow {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  height: 161px;
}

.tableRowClick{
  background-color: #E8E8E8;
  border-radius: 20px;
  height: 161px;
}

.headerTable {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 600;
  color: #959595;
}
.txtTitle {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: rgba(255, 1, 100, 1);
  margin: 0;
  margin-left: 19px;
}

.wrapFileLampiran{
  display: flex;
  flex-direction: column;
}

.wrapperTitleInputRenaksi {
  display: flex;
  width: 299px;
  height: 50px;
  text-align: center;
  align-items: center;
  border-bottom: 2.5px solid #1bddbb;
  padding-left: 7px;
  margin-top: 34px;
}

.txtTitle {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.8);
  margin: 0;
  width: 300px;
  /* margin-top: 1px; */
  margin-left: 19px;
}

.backgroundRowExpand {
  padding-bottom: 0px;
  padding-top: 0;
  background-color: 'red';
}


.wrapperExpand{
  display: flex;
  padding-left: 22px;
}

.wrapperLampiran{
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  font-weight: 500;
  margin-left: 30px;
}

.wrapperTanggapan{
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  font-weight: 500;
  width: 450px;
}

.txtTanggapan{
  font-size: 18px;
  font-weight: 400;
}

.wrapperRencanaUbah{
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  font-weight: 500;
  margin-left: 350px;
}


.btnTolakAll {
  background-color: rgba(255, 1, 100, 1);
  width: 172px;
  height: 51px;
  border: none;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* padding-inline: 5px; */
}

.btnTerimaAll {
  background-color: rgba(27, 221, 187, 1);
  width: 172px;
  height: 51px;
  border: none;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* padding-inline: 5px; */
  cursor: pointer;
}