.container{
    display: flex;
    justify-content: center;
}

.content {
  background-color: #112350;
  width: 590px;
  height: 771px;
  border-radius: 50px;
  margin-left: 260px;
  margin-top: 63px;
}