.tableRow {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  /* height: 161px; */
}

.tableRowClick {
  background-color: #e8e8e8;
  border-radius: 20px;
  height: 161px;
}

.headerTable {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 600;
  color: #959595;
}

.wrapperTitleInputRenaksi {
  display: flex;
  width: 299px;
  height: 50px;
  text-align: center;
  align-items: center;
  border-bottom: 2.5px solid #1bddbb;
  padding-left: 7px;
  margin-top: 34px;
}

.txtTitle {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.8);
  margin: 0;
  width: 300px;
  /* margin-top: 1px; */
  margin-left: 19px;
}

.backgroundRowExpand {
  padding-bottom: 0px;
  padding-top: 0;
  background-color: "red";
}

.wrapperContentModal {
  display: inline-flex;
  margin-top: 35px;
  margin-left: 50px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  border-width: 2px red;
  margin-top: 35px;
  /* padding-top:5px; */
  /* background-color: #112350; */
}

.btnUnggah {
  background-color: rgba(27, 221, 187, 1);
  width: 246px;
  height: 71px;
  border: none;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 20px;
}

.btnUnggah p {
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 22px;
  margin-left: 12px;
}

.btnUbahJadwal {
  background-color: rgba(221, 202, 27, 1);
  width: 246px;
  height: 71px;
  border: none;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btnUbahJadwal p {
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  margin-left: 12px;
}

.btnHapus {
  background-color: rgba(255, 1, 100, 1);
  width: 246px;
  height: 71px;
  border: none;
  border-radius: 12px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btnHapus p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 22px;
  margin-left: 12px;
}

.titleBtnUnggah {
  color: black;
}

.p {
  color: rgba(149, 149, 149, 1);
  font-weight: 500;
}

.wrapperBtnModal {
  display: inline-flex;
}

.inputBuktiLap_Ubah {
  height: 120px;
  width: 755px;
  border: 1px solid black;
  margin-bottom: 35px;
  border-radius: 4px;
}

.inputBuktiLap_Ubah::placeholder {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.inputBuktiLap_Ubah:focus {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  outline: none;
}

.inputBuktiLap {
  height: 133px;
  width: 755px;
  border: 1px solid black;
  border-radius: 4px;
}

.inputBuktiLap::placeholder {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.inputBuktiLap:focus {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  outline: none;
}

.btnBatal_Ubah {
  background-color: rgba(255, 1, 100, 1);
  width: 754px;
  height: 34px;
  border: none;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btnKirim_Ubah {
  background-color: rgba(27, 221, 187, 1);
  width: 754px;
  height: 34px;
  border: none;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btnKirim_Ubah p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  margin-left: 12px;
}

.btnBatal_Ubah p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  margin-left: 12px;
}

.btnBatal {
  background-color: rgba(255, 1, 100, 1);
  width: 170px;
  height: 34px;
  border: none;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btnKirim {
  background-color: rgba(27, 221, 187, 1);
  width: 170px;
  height: 34px;
  border: none;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btnKirim p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  margin-left: 12px;
}

.btnBatal p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  margin-left: 12px;
}

.wrapperPickMonth {
  display: flex;
  /* margin-top: -10px; */
}
.wrapperPickMonth {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.wrapperPickMonth p {
  padding-bottom: 5px;
  margin: 0;
}

.wrapperPickMonth input {
  padding: 10px;
  background-color: rgba(223, 223, 223, 0.43);
  border: 1px solid rgba(27, 221, 187, 1);
  border-radius: 10px;
  width: 210px;
  height: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: rgba(148, 148, 148, 1);
}

.styleData {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.styleRow {
  width: 1690px;
  height: 70px;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btnTolak {
  background-color: rgba(255, 1, 100, 1);
  width: 170px;
  height: 34px;
  border: none;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-inline: 35px;
  cursor: pointer;
}

.btnTerima {
  background-color: rgba(27, 221, 187, 1);
  width: 170px;
  height: 34px;
  border: none;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-inline: 30px;
  cursor: pointer;
}

.btnTolakAll {
  background-color: rgba(255, 1, 100, 1);
  width: 149px;
  height: 40px;
  border: none;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  /* padding-inline: 5px; */
}

.btnTerimaAll {
  background-color: rgba(27, 221, 187, 1);
  width: 149px;
  height: 40px;
  border: none;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* padding-inline: 5px; */
  cursor: pointer;
}

.headerTxtModal {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 26px;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

/*  ! MODAL */

.headerTxtModal {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 26px;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* MODAL BERHASIL LAMPIRKAN LAPORAN */
.modal {
  /* width: 540px; */
  display: flex;
  flex-direction: row;
  height: 70px;
  background-color: #ddfaf5;
  padding: 20px 60px;
  border-radius: 20px;
  position: Fixed;
  top: 25px;
  left: 678px;
}

.modal p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #112350;
  margin: 0;
  cursor: default;
}

.checkCircle {
  margin-left: 10px;
  /* position: absolute; */
  /* top: 22px;
  right: 25px; */
}

.inputBuktiLap {
  height: 133px;
  width: 755px;
  border: 1px solid black;
  border-radius: 4px;
}

.inputBuktiLap::placeholder {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.inputBuktiLap:focus {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  outline: none;
}

.btnBatal {
  background-color: rgba(255, 1, 100, 1);
  width: 170px;
  height: 34px;
  border: none;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btnKirim {
  background-color: rgba(27, 221, 187, 1);
  width: 170px;
  height: 34px;
  border: none;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btnKirim p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  margin-left: 12px;
}

.btnBatal p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  margin-left: 12px;
}

.wrapBtnModal {
  display: flex;
  margin-left: 390px;
}

.wrapperKetKaban {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #000;
  position: absolute;
  display: flex;
  align-items: center;
  top: 140px;
  background-color: rgba(27, 221, 187, 1);
  padding: 15px 164px;
  border-radius: 10px;
  cursor: pointer;
}

.wrapperKetKaban p{
  cursor: default;
}

.arrowClick{
  transform: rotate(90deg);
}

.arrow {
  cursor: pointer;
  position: absolute;
  top: 155px;
  z-index: 200;
  left: 230px;
  transition: .5s;
}

.contentKet {
  position: absolute;
  top: 195px;
  left: 180px;
  min-width: 484px;
  max-width: 584px;
  padding: 5px 30px;
  border-radius: 10px;
  background-color: #dbdbdb;
  z-index: 2000;
  /* opacity: 0; */
}
