.container{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}
.wrapperTitleInputRenaksi {
  display: flex;
  width: 200px;
  height: 50px;
  text-align: center;
  align-items: center;
  border-bottom: 2.5px solid #1bddbb;
  padding-left: 7px;
  padding-bottom: 11px;
  margin: 0;
  margin-top: 34px;
}

.txtTitle {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.8);
  margin: 0;
  margin-top: 10px;
  margin-left: 19px;
}