.container{
    margin-top: 236px;
    margin-left: 134px;
}

.container h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 64px;
    width: 637px;
    height: 192px;
    margin: 0px;
    margin-bottom: 40px;
}

.container p{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 32px;
    width: 620px;
    height: 96px;
    margin: 0px;
    margin-bottom: 45px;
}