.container {
  display: flex;
  flex-direction: column;
  padding-left: 60px;
}

.wrapperTitleInputRenaksi {
  display: flex;
  width: 315px;
  height: 50px;
  text-align: center;
  align-items: center;
  border-bottom: 2.5px solid #1bddbb;
  padding-left: 7px;
  margin-top: 34px;
}

.tahun {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.8);
  margin: 0;
  margin-top: 10px;
  margin-left: 19px;
}

.wrapperInput {
  display: flex;
}
/* .container p {
  margin: 0;
} */

.wrapperRencana {
  display: block;
  flex-direction: column;
}
.rencana {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #4a4a4a;
  margin: 0;
}

.wrapperRencana div {
  margin-top: 7px;
  width: 1170px;
  display: inline-flex;
  justify-content: space-between;
  padding-bottom: 23px;
  border-bottom: 2px solid #1bddbb;
}

.modal {
  width: 565px;
  height: 70px;
  background-color: #ddfaf5;
  padding-left: 76px;
  padding-top: 20px;
  border-radius: 20px;
  position: absolute;
  top: 25px;
  left: 678px;
}

.modal p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #112350;
  margin: 0;
  cursor: default;
}

.checkCircle {
  position: absolute;
  top: 22px;
  left: 440px;
}

.wrapperRencana button:focus {
  /* padding-left: 20px; */
  font-size: 25px;
  transition: 0.2s;
  background-color: #1bddbb;
}

/* .wrapperRencana button:hover{

} */
