.container {
  display: flex;
  flex-direction: column;
  padding-left: 60px;
}

.wrapperTitleInputRenaksi {
  display: flex;
  width: 315px;
  height: 50px;
  text-align: center;
  align-items: center;
  border-bottom: 2.5px solid #1bddbb;
  padding-left: 7px;
  margin-top: 34px;
}

.txtTitle {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.8);
  margin: 0;
  margin-top: 10px;
  margin-left: 19px;
}

/* .wrapperBtnExcel { */
  /* position: absolute;
  top: 15px;
  right: 20px;
  display: inline-flex;
} */

.btnExcel {
  width: 193px;
  height: 55px;
  background-color: #1bddbb;
  border-radius: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  position: absolute;
  top: 40px;
  right: 200px;
}

.selectItemFile {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #000;
  cursor: default;
  height: 55px;
  width: 171px;
  border-radius: 10px;
  margin-top: 11px;
  margin-left: 10px;
  /* position: absolute; */
}

.selectFile {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 193px;
  height: 145px;
  border: 1px solid #1bddbb;
  border-radius: 10px;
  position: absolute;
  top: 100px;
  right: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s linear, visibility 0.2s linear;
}

.wrapperBtnExcel:hover .selectFile {
  opacity: 1;
  visibility: visible;
} 

.selectItemFile:hover {
  background-color: #1bddbb;
  cursor: pointer;
  color: #fff;
}



.btnExcel p {
  margin-left: 5px;
}

.wrapperInput {
  display: flex;
}
/* .container p {
  margin: 0;
} */

.wrapperRencana {
  display: block;
  flex-direction: column;
}
.rencana {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #4a4a4a;
  margin: 0;
}

.wrapperRencana div {
  margin-top: 7px;
  width: 1170px;
  display: inline-flex;
  justify-content: space-between;
  padding-bottom: 23px;
  border-bottom: 2px solid #1bddbb;
}

.modal {
  width: 565px;
  height: 70px;
  background-color: #ddfaf5;
  padding-left: 76px;
  padding-top: 20px;
  border-radius: 20px;
  position: absolute;
  top: 25px;
  left: 678px;
}

.modal p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #112350;
  margin: 0;
  cursor: default;
}

.checkCircle {
  position: absolute;
  top: 22px;
  left: 440px;
}

.wrapperRencana button:focus {
  /* padding-left: 20px; */
  font-size: 25px;
  transition: 0.2s;
  background-color: #1bddbb;
}

.dropdownTupoksi {
  position: absolute;
  top: 565px;
  right: 220px;
  /* margin-left: 650px;
  margin-top: -100px; */
  display: flex;
}

.dropdownList {
  width: 477px;
  height: 190px;
  background-color: #fff;
  border-radius: 20px;
  position: absolute;
  top: 50px;
  right: -15px;
  margin-top: 30px;
  /* margin-left: -470px; */
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 22px;
  color: #4a4a4a;
  border: 1px solid #8891a7;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s linear, visibility 0.2s linear;
}

.dropdownTupoksi:hover .dropdownList {
  opacity: 1;
  visibility: visible;
}

.dropdownList_item {
  /* padding: 10px; */
  padding-left: 30px;
  padding-top: 7px;
  /* padding-top: ; */
  cursor: default;
}

.dropdownList_item p {
  margin: 0;
  padding: 10px;
  padding-left: 20px;
  margin-right: 25px;
  border-radius: 10px;
}

.dropdownList_item p:hover {
  background-color: #112350;
  cursor: pointer;
  color: #fff;
}
