.container{
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px 0px 0px 50px;
    width: 469px;
    height: 933px;
}

.imgEditProfile{
    position: relative;
    left: 55px;
    top: -40px;
}

.nama{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #112350;
    margin: 0px;
}

.jabatan{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #112350;
    margin: 0px;
}

.profileHeader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}