.container {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
}
.wrapperTitle {
  border-bottom: 2.5px solid #1bddbb;
  text-align: center; 
  align-items: center;
  display: flex;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 44px;
  left: 180px;
}

.wrapperTitle p{
  margin: 0;
}

.btnExcel {
  width: 193px;
  height: 55px;
  background-color: #1bddbb;
  border-radius: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  position: relative;
  top: 0;
  cursor: pointer;
}

.selectItemFile {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #000;
  cursor: default;
  height: 55px;
  width: 171px;
  border-radius: 10px;
  margin-top: 11px;
  margin-left: 10px;
}

.selectFile {
  display: flex;
  margin-top: 5px;
  flex-direction: column;
  width: 193px;
  height: 145px;
  border: 1px solid #1bddbb;
  border-radius: 10px;
  position: relative;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 999;
  background-color: #fff;
}
.wrapperBtnExcel {
  position: absolute;
  width: 193px;
  height: 55px;
  margin-left: 1310px;
  margin-top: 49px;
  z-index: 999;
  user-select: none;
}

.selectItemFile:hover {
  background-color: #1bddbb;
  cursor: pointer;
  color: #fff;
}

.btnExcel p {
  margin-left: 5px;
}

.wrapperInput {
  display: flex;
}

.wrapperRencana {
  display: block;
  flex-direction: column;
}
.rencana {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #4a4a4a;
  margin: 0;
}

.wrapperRencana div {
  margin-top: 7px;
  width: 1170px;
  display: inline-flex;
  justify-content: space-between;
  padding-bottom: 23px;
  border-bottom: 2px solid #1bddbb;
}

.modal {
  width: 565px;
  height: 70px;
  background-color: #ddfaf5;
  padding-left: 76px;
  padding-top: 20px;
  border-radius: 20px;
  position: absolute;
  top: 25px;
  left: 678px;
}

.modal p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #112350;
  margin: 0;
  cursor: default;
}

.checkCircle {
  position: absolute;
  top: 22px;
  left: 440px;
}

.wrapperRencana button:focus {
  /* padding-left: 20px; */
  font-size: 25px;
  transition: 0.2s;
  background-color: #1bddbb;
}

.selectTupoksi {
  /* border: none; */
  /* height: 20px; */
}

.dropdownTupoksi {
  position: absolute;
  margin-top: -40px;
  margin-left: 669px;
  z-index: 997;
  width: 30px;
  height: 30px;
  opacity: 1;
}

.dropdownList {
  width: 477px;
  height: 190px;
  background-color: #fff;
  border-radius: 20px;
  margin-top: 10px;
  margin-left: -445px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 22px;
  color: #4a4a4a;
  border: 1px solid #8891a7;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s linear, visibility 0.2s linear;
}

.dropdownTupoksi:hover .dropdownList {
  opacity: 1;
  visibility: visible;
}

.selectTupoksi {
  opacity: 1;
}

.dropdownList_item {
  /* padding: 10px; */
  padding-left: 30px;
  padding-top: 7px;
  /* padding-top: ; */
  cursor: default;
}

.dropdownList_item p {
  margin: 0;
  padding: 10px;
  padding-left: 20px;
  margin-right: 25px;
  border-radius: 10px;
}

.dropdownList_item p:hover {
  background-color: #112350;
  cursor: pointer;
  color: #fff;
}

.select {
  width: 477px;
  height: 40px;
  padding: 0 10px;
  border: none;
  border-bottom: 2px solid red;
}

.select:focus .option {
  /* width: 477px; */
  height: 190px;
}

/* dropdown THL */
.dropdownTHL {
  position: absolute;
  margin-top: -39px;
  margin-left: 670px;
  z-index: 998;
  width: 30px;
  height: 30px;
}

.dropdownIcon {
  /* margin-left: 590px; */
  /* right: -138px;
    top: -10px;
    position: absolute; */
}

.wrapperSelectTHL {
  /* position: absolute; */
  /* height: 40px; */
  /* width: 484px; */
  opacity: 0;
  z-index: 999;
  visibility: hidden;
  transition: opacity 0.2s linear, visibility 0.2s linear;
  margin-left: -590px;
}

.wrapper {
  background-color: #fff;
  width: 619px;
  height: 450px;
  border: 1px solid #000000;
  border-radius: 10px;
  padding-top: 22px;
  padding-left: 23px;
  display: flex;
  flex-wrap: wrap;
  overflow: overlay;
  flex-direction: row;
  margin-top: 10px;
}

.wrapper::-webkit-scrollbar {
  display: none;
}

.listNama {
  width: 253px;
  height: 70px;
  border-radius: 10px;
  margin-bottom: 18px;
  display: flex;
  margin-right: 44px;
}

.listNama p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #112350;
  margin-left: 15px;
}

.dropdownTHL:hover .wrapperSelectTHL {
  opacity: 1;
  visibility: visible;
}

/* .dropdownTHL:hover .dropdownList {
  opacity: 0;
  z-index: 1;
} */

/* placeholder_select_tupoksi */
.placeholder {
  color: rgba(165, 165, 165, 0.81);
  margin-left: -10px;
  /* margin-top: 30px; */
  /* padding-top: -100px; */
}

.titleTupoksi {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #4a4a4a;
}

.formatOptionTupoksi {
  /* display:flex; */
  padding: 0;
  margin: 0;
  width: 450;
  height: 40;
  padding-top: 5;
  border-radius: 10;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 29;
  margin-top: 100;
}

.headerTxtModal {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 26px;
}

.inputBuktiLap {
  height: 133px;
  width: 755px;
}

.inputBuktiLap::placeholder {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.inputBuktiLap:focus {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  outline: none;
}

.wrapperBtnModal {
  display: inline-flex;
}

.btnBatal {
  background-color: rgba(255, 1, 100, 1);
  width: 170px;
  height: 34px;
  border: none;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnKirim {
  background-color: rgba(27, 221, 187, 1);
  width: 170px;
  height: 34px;
  border: none;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnKirim p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  margin-left: 12px;
}

.btnBatal p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  margin-left: 12px;
}

/* .labelRencana{
  position: absolute;
  padding-left: 30px;
  color: 'white';
} */

.monthPicker {
  font-family: sans-serif;
  text-align: left;
  max-width: 300px;
  margin: 20px auto;
  line-height: 1.5;
}

.wrapperPickMonth {
  display: flex;
  margin-top: -10px;
}
.wrapperPickMonth {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
}

.wrapperPickMonth input {
  padding: 20px;
  background-color: rgba(223, 223, 223, 0.43);
  border: 1px solid rgba(27, 221, 187, 1);
  border-radius: 10px;
  width: 446px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: rgba(148, 148, 148, 1);
}




