.container{
    display: flex;
}

.contentKanan{
    margin-left: 47px;
    margin-top: 0px;
}

.chartWrapper{
    width: 1176px;
    height: 650px;
    margin-left: 45px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headerChart{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.8);
    font-size: 28px;
    width: 433px;
    text-align: center;
    border-bottom: 2px solid #1BDDBB;
    padding-bottom: 12px;
}